<h1>{{title}}</h1>
<p>Awesome job. The public key we'll be using is:</p>
<pre>{{user.publicKey}}</pre>
<p><a href="/create">Not correct?</a></p>
<h3>Embed code</h3>
<textarea class="mdl-textfield__input" type="text" rows= "3" readonly>
<iframe src="{{#if ENV_DEVELOPMENT}}http://localhost:{{SERVER_PORT}}{{else}}https://initiatecontact.com{{/if}}{{submitURL}}" width="300px" height="400px" />
</textarea>
<h2>Give it a try:</h2>
<iframe src="{{#if ENV_DEVELOPMENT}}http://localhost:{{SERVER_PORT}}{{else}}https://initiatecontact.com{{/if}}{{submitURL}}" width="300px" height="400px" />
