{{#if err}}
{{err}}
{{else}}
<h1>{{title}} to {{user.name}}</h1>
<img src="{{user.avatar}}" />
<textarea name="bare-message" placeholder="Type your message here"></textarea>
<form action="/submit" method="post">
  <input type="hidden" name="user" value="{{user.id}}">
  <input type="hidden" name="public-key" value="{{user.publicKey}}">
  <input type="hidden" name="message" />
  <button type="submit">Submit</button>
</form>
{{/if}}
